.field {
    border: 1px solid black;
    border-radius: 2px;
    height: 720px;
}

.animal{
    padding: 10px;
    border: 1px solid black;
    height: 75px;
    width: 75px;
    position: relative;
    left: 1px;
    right: 1px;
    top: 1px;
    bottom: 1px;
    h1 {
        margin: 0;
    }
}